<aside>
  <a href="index.html">
    <img src="../assets/images/logo/logo-ANSWER.svg"
    alt="logo-ANSWER">
  </a>
  <ul class="menu">
    <li><a href="#">
      <span class="material-symbols-outlined">insert_chart</span>
      <span>Dashboard</span>
    </a></li>
    <li><a href="#">
      <span class="material-symbols-outlined">forum</span>
      <span>Question</span>
    </a></li>
    <li><a href="index.html">
      <span class="material-symbols-outlined">assignment</span>
      <span>Assignment</span>
    </a></li>
    <li><a href="#">
      <span class="material-symbols-outlined">video_library</span>
      <span>Course</span>
    </a></li>
    <li><a href="admin.html">
      <span class="material-symbols-outlined">group</span>
      <span>Admin</span>
    </a></li>
    <li><a href="#">
      <span class="material-symbols-outlined">settings</span>
      <span>Settings</span>
    </a></li>
  </ul>
  <div class="authorWrap mt-auto">
    <img src="../assets/images/main/andychen.jpeg"
    alt="andyChen">
    <div class="authorInfo">
      <p class="mb-0">Andy Chen</p>
      <p class="mb-0">andy0401@mail.com</p>
    </div>
  </div>
</aside>