<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  </head>
  <body>
    <%- include('./layout/asideBar'); -%>

    <main>
      <div class="container">       
        <div class="mainHeader">
          <div class="mainLeft">
            <div class="ham">
              <div class="bar"></div>
            </div>
            <h2 class="me-7">Assignment</h2>
            <div class="dropdown">
              <div class="d-flex align-items-center"
              data-bs-toggle="dropdown"
              style="cursor:pointer;">
                <span class="mainTitle
                text-nowrap">All Courses</span>
                <span class="material-symbols-outlined
                text-success ms-2">expand_more</span>
              </div>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </div>
          </div>
          <a href="#" class="mainRight text-dark">
            <span class="material-symbols-outlined">search</span>
            <span class="material-symbols-outlined
            ms-md-4
            ms-2">notifications_active</span>
          </a>
        </div>
        <div class="py-5">
          <div class="row">
            <div class="col-lg-4">
              <div class="dropdown mb-2">
                <div class="d-flex align-items-center"
                data-bs-toggle="dropdown"
                style="cursor:pointer;">
                  <span class="mainTitle">All (4)</span>
                  <span class="material-symbols-outlined
                  text-success ms-2">expand_more</span>
                </div>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </div>
              <ul class="assignMentList">
                <li style="cursor: pointer;">
                  <div>
                    <p class="mb-0">Chapter Assignment 2</p>
                    <h4>Please check this file…</h4>
                  </div>
                  <div>
                    <p class="mb-0">4 hrs ago</p>
                    <p class="mb-0">Emily Wang</p>
                  </div>
                </li>
                <li style="cursor: pointer;">
                  <div>
                    <p class="mb-0">Chapter Assignment 1</p>
                    <h4>My Homework</h4>
                  </div>
                  <div>
                    <p class="mb-0">12 hrs ago</p>
                    <p class="mb-0">David Xu</p>
                  </div>
                </li>
                <li style="cursor: pointer;">
                  <div>
                    <p class="mb-0">Final Assignment</p>
                    <h4>Have a problem with this…</h4>
                  </div>
                  <div>
                    <p class="mb-0">18 hrs ago</p>
                    <p class="mb-0">Tony Wei</p>
                  </div>
                </li>
                <li style="cursor: pointer;">
                  <div>
                    <p class="mb-0">Final Assignment</p>
                    <h4>Did I do it right?</h4>
                  </div>
                  <div>
                    <p class="mb-0">19 hrs ago</p>
                    <p class="mb-0">Christina Lin</p>
                  </div>
                </li>
              </ul>
            </div>
            <div class="col-lg-8">
              <p class="text-end text-muted
              textEnd mb-2">
                2 comments
              </p>
              <ul class="assignMentContent">
                <li class="d-flex justify-content-between
                align-items-center py-2 px-3
                border-2 border-bottom
                " style="background: #F8F9FA;">
                  <div class="assignMenuTitle">
                    <p class="mb-0 text-muted"
                    style="font-size: 12px;">Chapter Assignment 2 / HTML&CSS</p>
                    <p class="mb-0 fw-bold">
                      Please check this file for me, thanks!</p>
                  </div>
                  <a href="#" class="text-dark">
                    <span class="material-symbols-outlined">more_vert</span>
                  </a>
                </li>
                <li class="p-3">
                  <div class="row">
                    <div class="col-md-2">
                      <div class="d-flex justify-content-center">
                        <img 
                        src="../assets/images/main/emilywang.jpeg"
                        alt="emilyWang"
                        style="width: 80px;
                        height: 80px;
                        object-fit: cover;
                        border-radius: 50%;">
                      </div>
                    </div>
                    <div class="col-md-8">
                      <div class="d-flex flex-column
                      border-bottom border-2">
                        <h4 class="mb-0 fw-bold">Emily Wang</h4>
                        <span class="text-muted" style="font-size: 12px;"
                        >10:38 AM (4 hours ago)</span>
                        <p class="mb-0 py-3"
                        style="font-size: 14px; line-height: 21px;">
                          Hi Teacher, the attached file is my homework of chapter 2. And here comes a question: Why in the following code the height of the <span class="text-success">div</span> is bigger than the height of the <span class="text-success">img</span> ? There is a gap below the image, but it doesn’t seems to be a padding/margin. What is the gap or extra space below image?
                        </p>
                        <div class="border border-1
                        d-flex align-items-center p-2 justify-content-center
                        mb-3 attachmentBox text-nowrap"
                        style="gap: 8px; width: 35%;
                        cursor: pointer;">
                          <span class="material-symbols-outlined">attach_file</span>
                          <span class="fw-bold">HW-2-David.zip</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="p-3 assignMentContentBox">
                  <div class="row gy-3">
                    <div class="col-md-2">
                      <div class="d-flex justify-content-center">
                        <img src="../assets/images/main/andychen.jpeg"
                        alt="andyChen"
                        style="width: 80px;
                        height: 80px;
                        object-fit: cover;
                        border-radius: 50%;">
                      </div>
                    </div>
                    <div class="col-md-8">
                      <div class="d-flex flex-column
                      ">
                        <div class="d-flex justify-content-between
                        align-items-center">
                          <div>
                            <h4 class="mb-0 fw-bold">Andy Chen (You)</h4>
                            <span class="text-muted" style="font-size: 12px;"
                            >13:24 AM (1 hours ago)</span>
                          </div>
                          <div>
                            <a href="#" class="text-dark">
                              <span class="material-symbols-outlined
                              me-4">star</span>
                              <span class="material-symbols-outlined">edit</span>
                            </a>
                          </div>
                        </div>
                        <p class="mb-0 py-3"
                        style="font-size: 14px; line-height: 21px;">
                          Hi David, by default, an image is rendered inline, like a letter so it sits on the same line that a, b, c and d sit on. There is space below that line for the descenders you find on letters like g, j, p and q. 
                          <p>You can:</p>
                          <p style="text-indent: 16px;"
                          class="mb-0">• adjust the <span class="text-success">vertical-align</span> of the image to position it elsewhere (e.g. the middle ) or</p>
                          <p style="text-indent: 16px;"
                          class="mb-0">• change the <span class="text-success">display</span> so it isn’t inline.</p>                         
                        </p>                          
                      </div>
                    </div>
                  </div>
                  <div class="coverAssignMentContentBox">
                    <ul class="headerBox">
                      <li><a href="#" class="text-dark
                        d-flex align-items-center
                        fw-bold">
                        <span class="me-2">Body Text</span>
                        <span class="material-symbols-outlined">arrow_drop_down</span>
                      </a></li>
                      <li><a href="#" class="text-dark
                        d-flex align-items-center">
                        <span class="material-symbols-outlined">format_bold</span>
                      </a></li>
                      <li><a href="#" class="text-dark
                        d-flex align-items-center">
                        <span class="material-symbols-outlined">format_italic</span>
                      </a></li>
                      <li><a href="#" class="text-dark
                        d-flex align-items-center">
                        <span class="material-symbols-outlined">list</span>
                      </a></li>
                      <li><a href="#" class="text-dark
                        d-flex align-items-center">
                        <span class="material-symbols-outlined">format_list_numbered</span>
                      </a></li>
                      <li><a href="#" class="text-dark
                        d-flex align-items-center">
                        <span class="material-symbols-outlined">image</span>
                      </a></li>
                      <li><a href="#" class="text-dark
                        d-flex align-items-center">
                        <span class="material-symbols-outlined">add_link</span>
                      </a></li>
                      <li><a href="#" class="text-dark
                        d-flex align-items-center">
                        <span class="material-symbols-outlined
                        rotateArrow">expand_all</span>
                      </a></li>
                    </ul>
                    <p>Reply an answer…</p>
                    <div class="mt-auto text-end                    
                    pe-4 pb-3">
                      <button class="btn btn-outline-success
                      py-2 px-5 me-2 cancelBtn"
                      type="button">
                        Cancel
                      </button>
                      <button class="btn btn-outline-success
                      py-2 px-5"
                      type="button">
                        Reply
                      </button>
                    </div>
                  </div>
                </li>                                     
              </ul>
              <div class="mt-3">
                <div class="d-flex
                selectList 
                justify-content-center
                align-items-center
                flex-wrap">
                  <a href="#" class="text-dark">
                    <span class="material-symbols-outlined
                    ">chevron_left</span>
                    <span class="material-symbols-outlined
                    ms-4">chevron_right</span>
                  </a>
                  <div class="ms-md-auto d-flex                
                  flex-nowrap justify-content-center">
                    <button class="btn btn-outline-success
                    px-5">
                      Mark as read
                    </button>
                    <button class="btn btn-outline-success
                    px-5 ms-3 replyBtn">
                      Reply
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>          
        </div>
      </div>      
    </main>
  

    <!-- <%- include('./layout/footer'); -%> -->
    <script type="module">
      import dropdown from 'bootstrap/js/dist/dropdown.js'              
    </script>
    <!-- <script src="../javaScripts/changeBox.js"></script> -->
    <script type="module" src="../main.js"></script>
  </body>
</html>
